*{
    box-sizing: border-box;
}
header{
    text-align: center;
}
body{
    background-color: #b7f8dd;
    background-image: url("../images/restaurant.jpg");
    font-size: 1.5rem;
    line-height: 1.4;
    padding-inline: 10px;
    padding:0% 5%;
    border: solid 10px #f1a961;
    margin: 0%;
}


h1 {
    color: darkgray;
    text-align: center;
    font-size: 5rem;
    line-height: 1;
}
h2{
    color: #CB731C ;
    text-align:start ;
    
}
h3{
    text-align: start;
    font-family: sans-serif;
}
p{
    
    margin-block: 30px;
}
ul{
    margin-block: 15px;
}
section{
    padding-top: 10px;
    padding-bottom: 10px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    margin-bottom: 5%;
}
.links{
    color: #ba9629;
    text-decoration: none;
}

.links:hover{
    color: brown;
}
.links:active{
    color: #fff;
}
.teal-bg{
    background:#008080;
    padding-inline: 2px; /*for left and right */
    padding-block:2px;/*for bottom and top */
    text-align: center;
    color: #fff;
    border: solid 5px #666;
}
.teal-bg strong{
    color: #ca9b0e;
}
.teal-text{
    color: teal;
}
.climber-bg{
    background-image: url("../images/simple-steps.jpg");
    color: #fff;
    padding: 50px;
    border: solid #5570ca 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover,contain ;
}

footer{
    
    text-align: center;   
    width: 100%;
    margin-bottom: 20px;
    
}