*{
    box-sizing: border-box;
}

body{
    background-color: #b7f8dd;
    background-image: url("../images/restaurant.jpg");
    font-size: 1.5rem;
    line-height: 1.4;
    height: 100vh;
    padding:0% ;
    margin: 0%;
    
}
.content {
    border: solid 10px #f1a961; /* Border moved here */
    height: 100%; /* Full height */
    overflow-y: auto; /* Content scrolls */
    padding: 0% 5%; /* Padding moved here */
    box-sizing: border-box;
}


h1 {
    color: darkgray;
    text-align: center;
    font-size: 5rem;
    line-height: 1;
}
h2{
    color: #CB731C ;
    text-align:start ;
    
}
h3{
    text-align: start;
    font-family: sans-serif;
}
p{
    
    margin-block: 30px;
}
ul,ol{
    margin-block: 15px;
    list-style-position: outside;
    color: teal;
}
img
{
    display: block;
    max-inline-size: 100%;
}

section{
    padding-top: 10px;
    padding-bottom: 10px;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
 .primary-navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}
.primary-navigation a{
    font-weight :bold;
}
.primary-navigation a:hover,:focus-visible{
    color:teal;
}

.wrapper{
    max-inline-size: 1000px;
    margin-inline: auto;
}
.two-column-layout{
    display: grid;
    grid-template-columns:1fr 1fr ;
    gap:30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    margin-bottom: 5%;
}
.links{
    color: #ba9629;
    text-decoration: none;
}

.links:hover{
    color: brown;
}
.links:active{
    color: #fff;
}
.teal-bg{
    background:#008080;
    padding-inline: 2px; /*for left and right */
    padding-block:2px;/*for bottom and top */
    text-align: center;
    color: #fff;
    border: solid 5px #666;
}
.teal-bg strong{
    color: #ca9b0e;
}
.teal-text{
    color: teal;
}
.climber-bg{
    background-image: url("../images/simple-steps.jpg");
    color: #fff;
    padding: 50px;
    border: solid #5570ca 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover,contain ;
}

footer{
    
    text-align: center;   
    width: 100%;
    margin-bottom: 20px;
    
}