
body{
    font-family: sans-serif;
    margin:5%;
   font-size: 1.5rem;
   line-height: 1.5;
}

header{
    text-align: center;
}
h1 {
    color: #4676A9;
    text-align: center;
  
    font: bolder;
}
h2{
    color: #CB731C ;
    text-align:start ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    text-align: start;
    font-family: sans-serif;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-block: 50px;
}
img{
    align-content: center;
}
footer{
    background-color: #22466C ;
    color: #fff;
    
}