*{
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    padding-inline: 10px;
    padding:0% 5%;
    border: solid 10px #ffc0cb;
    margin: 0%;
}

header{
    text-align: center;
}
h1 {
    color: #4676A9;
    text-align: center;
    font-size: 3rem;
    line-height: 1;
}
h2{
    color: #CB731C ;
    text-align:start ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    text-align: start;
    font-family: sans-serif;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-block: 30px;
}
ul{
    margin-block: 15px;
}
section{
    padding-top: 10px;
    padding-bottom: 10px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    margin-bottom: 5%;
}

footer{
    background-color: #22466C ;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;   
    width: 100%;
}
.links{
    color: #ba9629;
    text-decoration: none;
}
header{
    margin-top: 10px;
}