
body{
    background-color: aliceblue;
    font-family: sans-serif;
   font-size: 1.5rem;
   line-height: 1.6;
   padding-inline: 30px;
}

header{
    text-align: center;
}
h1 {
    color: #4676A9;
    text-align: center;
    font-size: 5rem;
    line-height: 1;
}
h2{
    color: #CB731C ;
    text-align:start ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    text-align: start;
    font-family: sans-serif;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-block: 50px;
}
ul{
    margin-block: 15px;
}
section{
    margin-block: 150px;
}

footer{
    background-color: #22466C ;
    color: #fff;
    text-align: center;
    padding: 20px;
    
}